<form [formGroup]="form">
  <h3 class="title">Create Account</h3>
  <mat-form-field>
    <input matInput placeholder="Name" type="text" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Surname" type="text" formControlName="surname">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Username" type="text" formControlName="username">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" type="password" formControlName="password">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Confirm Password" type="password" formControlName="confirm">
  </mat-form-field>

  <button mat-raised-button color="primary" class="submit" [disabled]="form.invalid" type="submit" (click)="submit()">Register</button>
</form>
