<form>
  <mat-form-field>
    <input matInput placeholder="Name" type="text">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Surname" type="text">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Username" type="email">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" type="password">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Confirm Password" type="password">
  </mat-form-field>

  <button mat-raised-button color="primary" class="submit">Sign Up</button>
</form>
